* {
  box-sizing: border-box;
  transition: all 0.3s ease; /* Add transition for smooth animation */
}

body {
  background-color: black;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.topnav {
  overflow: hidden;
  background-color: #31363F;
  padding: 10px;
  border-radius:19px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
  border-radius: 5px; /* Add rounded corners on hover */
}

.topnav .search-container {
  float: right;
}

form {
  background-color: #151f30;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  font: 15px system-ui;
  color: black;
  height: 100%;
  width: calc(100% - 20px);
  padding: 6px 9px;
  border: none;
  background-color: #e5e5e5;
  border-radius: 5px;
}

input:focus {
  outline: none;
  background-color: #ffffff;
}

.thumbnail {
  height: 350px;
  width: 260px;
  border-radius: 18px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.card {
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color:#222222;
  max-height: 480px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05); /* Add scale effect on hover */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add shadow effect on hover */
}

a.review-button {
  color: #ffffff; /* Text color */
  background-color: #4CAF50; /* Background color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Border radius */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as block element */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Add transition */
}

a.review-button:hover {
  background-color: #45a049; /* Hover background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover shadow */
}

